node_modules/
coverage/
.idea/
dist

.dist
java-home/

test/fixtures/**/run/
test/fixtures/**/logs/
test/fixtures/**/uiweb/
test/fixtures/**/typings/
typings/app/
typings/config/
.cache/
package-lock.json
.node/
logs/
run/
f.yml
.oneapi/

**/*.d.ts
**/*.js

typings/sff.d.ts
typings/chair.d.ts
.eslintcache
.node
.egg